// Colours
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$light-blue: #464b5e;
$blue: #3c4251;
$purple: #8357c5;
$white: #FFFFFF;

// Sizes
$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 10rem;

// Weights
$s-weight: 300;
$m-weight: 500;
$l-weight: 800;

// Media
$desktop-breakpoint: 45rem;
